/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*--- Your styles here ---*/
ul.ulContainer{
	list-style-type: none;
	padding-left:10px;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Page layout */
html {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: ghostwhite;
}
body {
  min-height: 100%;
  background-color: white;
  padding: 1em;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

/* Our views */
#container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.eachItem {
  margin: 1em;
  width: 256px;
  /*text-align: center;*/
  font-size: 1em;
  line-height: 1.4em;
  /*font-weight: bold;*/
}
.polaroid img {
  width: 256px;
  height: 286px;
}

.polaroid {
  position: relative;
 
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 8px #777;
     -moz-box-shadow: 3px 3px 8px #777;
          box-shadow: 3px 3px 8px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}
.leftCol img{
	width:50px;
	height:50px;
	position:relative;
	margin:10px 0 0 0;
	
}
.leftCol{
	width:25%;
	float:left;
}
.rightCol{
	width:70%;
	float:left;
}
ul.ulClass{
	list-style-type:none;
	

	padding:0 0 3px 0;
}

.description{
	clear:both;
}
h1 {
  margin: 0;
  /*text-align: center;*/
}
h2 {
  width: 100%;
  text-align: center;
}
.imageLeftCol{
	width:40%;
	float:left;
}
.imageRightCol{
	width:55%;
	float:left;
}

#pop-up {
  position: fixed;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 1px solid gray;
  overflow-y: auto;
  background-color: #fff;
}

#pop-up.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  background-color: rgba(255,255,255,0.9);
  background-image: url(../images/ajax_loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

#pop-up .close-pop-up {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: #FE052C;
  text-decoration: none;
}

#pop-up .wrapper {
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left:80px;
  margin-right:80px;
}

#pop-up h1 {
  margin-bottom: 0;
}

#pop-up .pop-up-action {
  padding: 10px;
  background-color: #FE052C;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transform: 0.2s all;
  margin-top: 30px;
  display: inline-block;
}

#pop-up .pop-up-action:hover {
  color: #FE052C;
  background: #fff;
}
#pop-up .content{
	margin-bottom:20px;
}
#pop-up .starContainer{
	margin-bottom:20px;
}
.starContainer li{
	list-style-type:none;
	float:left;
}

.starRating {
 background: url(../images/star.png) no-repeat;
}

.star {
   background: url(../images/star.png) no-repeat; 
   height:50px;
   width:50px;
}

.star:hover {
   background: url(../images/yellowStar.png) no-repeat; 
   height:50px;
   width:50px;
}

.star.selected {
   background:url(../images/yellowStar.png) no-repeat; 
   height:50px;
   width:50px;
}
.done-it{
	width:5%;
	display:inline-block;
}
.commentStarContainer{
	width:90%;
	display:inline-block;
}
